@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.gradient-primary {
  @apply bg-gradient-to-r from-fire to-electric
}

.gradient-secondary{
  @apply bg-gradient-to-r from-cobalt to-electric
}

.gradient-text {
  @apply bg-clip-text text-transparent
}

.writing-mode-vertical-lr {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  /* text-orientation: upright; */
  transform-origin: center;
}